node_modules
android/app/build
android/app/.externalNativeBuild
android/.gradle
.idea
android/build
ios/sentry.properties
android/app/my-release-key.keystore
android/gradle.properties
android/local.properties
yarn-error.log
android/app/google-services.json
